* text=auto
*.gd text eol=lf
*.py text eol=lf
*.tscn text eol=lf
*.godot text eol=lf
*.cfg text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.uid text eol=lf
*.import text eol=lf
*.cmd text eol=crlf
*.png -text
*.wav -text
